# игнорировать файл                  #
# dark.css                           #
#                                    #
######################################
#                                    #
# игнорировать файл в директории     #
# directory_1/my.js		     #
#                                    #
######################################
# игнорировать файл с расширением    #
# *.mp3				     #  
#                                    #
######################################